*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit; /* html>height: 100%; */
}

.page {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0;
  font-family: Raleway, sans-serif;
  background-color: #fec7ee;
}

/* Псевдоэлемент "серая вуаль" (корректирующий слой поверх body) */
.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(255 255 255 / 0.3);
}

.page__video {
  position: absolute;
  inset: 0; /* top=right=bottom=left=0 */
  width: 100%;
  height: 100%;
  
  object-fit: cover;
  object-position: center;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.page__title {
  /* position: static */
  z-index: 1;
  max-width: 720px;
  margin: 60px auto 0;
  font-size: 116px;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
}

/* Псевдоэлемент "звёздочка у заголовка" */
.page__title::after {
  /* стили наследутся от .page__title */
  content: "*";
  position: relative; /* для стилизации z-index */
}

/* Псевдокласс для изменения заголовка и курсора при наведении курсора на него */
.page__title:hover {
  color: #4c4c4c;
  cursor: default;
}

/* Псевдоэлемент, отображающий тултип (сообщение, 
всплывающее при наведении курсора на зпголовок) */
.page__title:hover::before {
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  position: absolute;
  top: 180px;
  right: 20px;
  max-width: 760px;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 12px 0 #000; /* тень тултипа */
  color: #000;
  font-weight: normal;
  font-size: 35px;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-transform: initial;
  background-color: #fff;
  white-space: pre; /* content отображается как есть (spaces, переносы и пр.) */
}
