*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;

  /* === vvk === */
  border: 1px solid green;
  display: flex;
  justify-content: center; /* горизонтальное центрирование .content */
  align-items: center; /* ветикальное центрирование .content */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  /* border: 1px solid brown; */
  display: grid;
  grid-template: 534px / 711px 399px;
  gap: 30px;
  align-items: end;
}

/************* БЛОК ВИДЕОКАРТОЧЕК *************/

/* Заголовок листа с карточками */
.title {
  font-family: "Oswald";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/* Карточка с описанием и фото <article> */
.content__video-card {
  display: flex;
  align-items: start; /* ??? Шаг 2, п.4 */
  /* justify-content: right; */
  justify-content: space-between;
}

/* Текст карточек  <a> */
.content__card-link {
  display: block; /* для активной карточки */
  text-decoration: none;
  color: #fff;
}

/* активная карточка */
.content__card-link_current {
  /* border: 2px solid blue; */
  background: #545050;
}

/* active-состояние карточек */
.content__list-item:has(.content__card-link_current:active) {  
  /* border: 2px solid blue; */
  background: #545050;
}

/* Заголовоки карточек <h2> */
.content__video-card-title {
  font-family: "Oswald";
  /* font-style: normal; */
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  /* margin-bottom: 6px; */ /* ??? */
}

/* Контейнер текстовой части карточки */
.content__video-card-description-container {
  width: 100%;
  /* height: 100%; */
  align-self: stretch;
}

/* Текст описания карточки */
.content__video-card-description {
  /* border: 1px solid orange; */
  line-height: 90%; /* 16px */
}

/* Фото в карточке <img> */
.content__video-card-thumbnail {
  /* border: 1px solid purple; */
  width: 194px;
  height: 103px;
  object-fit: cover; /* фото встроиться целиком с сохранением пропорции */
}

.content__list {
  position: relative; /* для preloder листа карточек */
  height: 298px; /* вертикальный размер */
  overflow-y: scroll; /* скролл при переполнении.*/
  overflow-x: hidden;

}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px; /* gap после карточек*/
}

/* Кнопка "Показать ещё" */
.more-button {
  width: 100%;
  margin-bottom: 1px; /* для корректной отрисовки border у кнопки */
}

/************* БЛОК ВЫВОДА РЕЗУЛЬТАТОВ ПОИСКА *************/

/* Обертка видеофрейма <div> */
.result__video-container {
  position: relative; /* для preloder видеофрейма */
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

/* Видеофрейм <video> */
.result__video {
  object-fit: cover;
  /* object-position: center; */ /* default value */
  width: 100%; /*вписываем видео по ширине родителя */
  height: 100%;
}

/************* БЛОК ПОИСКА *************/
.search-form {
  /* border: 1px solid blue; */
  display: flex; /* в строку */
  justify-content: space-between; /* пропорционально распределить между ними свободное пространство */
  align-items: start; /*прижать их к началу контейнера */
  /* height: 100px; */
}

/* Заголовки полей в блоке поиска <h2> */
.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 22px; */ /* auto */
  margin-bottom: 5px; /* отступ до input */
}

/* .content__details { */
/* Растянуть .content__details во всю доступную 
  ширину и высоту контейнера и добавить  */
/* width: 100%; */
/* height: 100%; */
/* } */

.search-form__label {
  display: flex;
  flex-direction: row; /* выстраивание элементов в линию*/
  width: fit-content; /* ??? НЕ РАБОТАЕТ ??? */
  /* background-color: aqua; */
}


.search-form__label:has(input[type="text"]) {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  /* border-left: none; */
  border-left-style: none;
  border-right-style: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

/* рамка текстового поля блока поиска в active-состоянии */
.search-form__label:has(input[type="text"]):active {
  border-left-style: solid;
  border-right-style: solid;
  outline: none;
}

.search-form__label:hover {
  cursor: pointer;
}

/* Поля для ввода текста */
.search-form__label input[type="text"] {
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.222; /* 22px; */
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none; /* border - у родителя */
  appearance: none; /* Шаг 5, п. 6 */
}

/* поле ввода названия города в блоке пооиска */
.search-form__label input[name="city"] {
  width: 225px; /* 211px*/
}

/* undeline текста времени суток при hover по .search-form__label */
.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

/* checkbox'ы в блоке пооиска */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* квадрат checkbox'а */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  position: relative; /* для .search-form__pseudo-checkbox::before */
}

/* Отрисовка квадрата checkbox при его active */
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  position: absolute;
  content: "";
  background-color: #fff;
  top: 0;
  inset: 2px; /* отступы от границ search-form__pseudo-checkbox */
}

/* кнопка "Найти" блока поиска */
.search-form__submit-button {
  align-self: end;
  width: 194px;
}

.search-form__textfield:focus {
  outline: none; /* сброс default-обводки при focus */
}

/************* ОБЩИЕ СТИЛИ КНОПОК *************/

.button {
  height: 38px;
  font-family: "Fira Sans Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  /* line-height: 22px; */
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none; /* сброс default-обводки при focus */
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -2px;
}

/************* ПРОЧИЕ СТИЛИ *************/

.title {
  margin-bottom: 26px; /* отступ между заголовком и зоной с карточками.*/
}

fieldset {
  border: none; /* 0 ??? */
}

/* ??? 
1. Из-за flex у.search-form__label время суток в столбец - разобраться.
2. Продолжить с п.2 Шага 5.
  

??? */
