*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* Стандатные цвета */
  --color-light: #fff;
  --color-active: #545050;
  --color-dark: #1b1919;
  /* размеры фото списка карточек городов */
  --thumbnail-width: 194px;
  --thumbnail-height: 103px;

  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center; /* горизонтальное центрирование .content */
  align-items: center; /* ветикальное центрирование .content */
  margin: auto;
  color: var(--color-light);
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: var(--color-dark);
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  align-items: end;
  gap: 30px;
  grid-template: 1fr / 711px 399px;
}

/************* БЛОК ВИДЕОКАРТОЧЕК *************/

/* Заголовок листа с карточками */
.title {
  padding-bottom: 22px; /* Pixel Perfect */
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: var(--color-active);
}

/* Текст карточек */
.content__card-link {
  display: block;
  min-height: 107px;
  padding: 2px; /* для outline в :focus-visible */
  color: var(--color-light);
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  text-decoration: none;
  background: var(--color-active);
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid var(--color-light);
  outline-offset: -2px;
}

/* Текущая (выбранная) карточка */
.content__card-link_current {
  background: var(--color-active);
}

/* Карточка с описанием и фото */
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* Заголовоки карточек */
.content__video-card-title {
  margin-top: -4px; /* компенсация 2*(padding: 2px) у .content__card-link */
  overflow: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  /* Обрезанная часть текста заменяется многоточием */
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Контейнер текстовой части карточки */
.content__video-card-description-container {
  align-self: stretch;
  width: calc(100% - var(--thumbnail-width));
}

/* Текст описания карточки */
.content__video-card-description {
  line-height: 90%; /* или 16px */
}

/* Фото в карточке */
.content__video-card-thumbnail {
  flex-shrink: 0; /* размеры фото сохраняются при увеличении flex-соседей */
  width: var(--thumbnail-width); /* def 194px; */
  height: var(--thumbnail-height); /* def 103px; */
  object-fit: cover; /* фото без обрезки с сохранением пропорций */
  object-position: center;
}

.content__list {
  position: relative; /* для preloder листа карточек */
  height: 298px;
  overflow: auto;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 30px; /* gap после карточек */
}

/* Кнопка "Показать ещё" */
.more-button {
  width: 100%;
}

/************* БЛОК ВЫВОДА РЕЗУЛЬТАТОВ ПОИСКА *************/

/* Обертка видеофрейма */
.result__video-container {
  position: relative; /* для preloder видеофрейма */
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

/* Видеофрейм */
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/************* ФОРМА ПОИСКА *************/

/* Форма поиска */
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

/* Заголовки полей в форме поиска */
.search-form__fieldset-title {
  margin-bottom: 7px; /* отступ до input */
  font-weight: 400;
  font-size: 18px;
}

/* Поля формы поиска */
.search-form__label {
  display: flex;
  flex-direction: row; /* элементы поля - в линию */
  width: fit-content;
}

.search-form__label:has(input[type="text"]) {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-light);
  border-right-color: transparent;
  border-left-color: transparent;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--color-light);
  outline-offset: 2px;
}

/* рамка текстового поля формы поиска в active-состоянии */
.search-form__label:has(input[type="text"]):active {
  border-right-color: var(--color-light);
  border-left-color: var(--color-light);
  outline: none;
}

.search-form__label:hover {
  cursor: pointer;
}

/* Поля для ввода текста */
.search-form__label input[type="text"] {
  border: none; /* border будет у родителя */
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222; /* или 22px */
  background-color: transparent;
  appearance: none;
}

/* Поле ввода названия города формы поиска */
.search-form__label input[name="city"] {
  width: 225px;
}

/* undeline текста времени суток при hover по .search-form__label */
.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:active > .search-form__label-text {
  text-decoration: none;
}

/* Checkbox'ы в формы поиска */
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* Checkbox в :default */
.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid var(--color-light);
}

/* Checkbox в :active и :checked */
.search-form__checkbox:active + .search-form__pseudo-checkbox,
.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  outline: 2px solid var(--color-dark);
  outline-offset: -3px;
  background-color: var(--color-light);
}

/* Кнопка "Найти" формы поиска */
.search-form__submit-button {
  align-self: end;
  min-width: 194px;
}

.search-form__textfield:focus {
  outline: none;
}

/************* ОБЩИЕ СТИЛИ КНОПОК *************/

.button {
  min-height: 34px;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  text-decoration: none;
  background: var(--color-active);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--color-light);
  outline-offset: -3px; /* Pixel Perfect */
}

/************* ПРОЧИЕ СТИЛИ *************/

fieldset {
  border: none;
}
